<!DOCTYPE html>
<html>
<head>
    <link type="image/x-icon" rel="icon" href="~/save.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bludata Teste</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cadastro", "Cadastro", "Home")</li>
                    <li>@Html.ActionLink("Relatório", "Lista", "Relatorio")</li>
                    <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contato", "Home")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Olá!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="divShowAlert"></div>
        @Html.Partial("_Mensagens")
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer class="footer">
        <p>Copyright &copy; @DateTime.Now.Year - Bludata Teste by Luis Jorge</p>
    </footer>
</body>
</html>
